:root{
    --primary-color:#390099;
    --accent1-color:#FF5400;
    --accent2-color:#131312;
    --label-color: #ffff;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


/* General styles */
   body {
    font-family: 'Jost', 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header - CSS Grid */
  header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    background-color: var(--accent2-color);
    color: var(--label-color);
    padding: 10px;
}

   header .mylogo img {
    width: 100px;
}

/* Navigation - CSS Flex */
  nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: var(--label-color);
    text-decoration: none;
    padding: 10px;
}
nav a:hover{
    border: 10px solid var(--accent1-color);
    }

     
h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    color: var(--label-color);
    font-size: 3rem;
    background-color: rgba(3, 0, 0, 0.6); 
    width: 100%;

}

/* Hero Section */
.hero {
    background-image: url('../images/hero1.jpg'); 
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    width: 100%; 
    align-items: center; 
    display: flex; 
    justify-content: center; 
    color: var(--label-color); 
    text-align: center; 
    position: relative; 
    z-index: 1; 
    
}


.hero::before {
    content: ""; 
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
}


.hero-content h1 {
    font-size: 3rem;
}

.hero-content img {
    max-width: 100%;
    height: auto;
}


.hero aside {
    position: absolute;
    bottom: 180px;
    left: 20px;
    background-color: rgba(5, 2, 1, 0.7); 
    color: var(--label-color);
    padding: 10px;
    width: 80%;
    
}

.hero aside img {
    float: right;
    width: 100px;
    margin-left: 10px;
}

.hero aside p {
    font-size: 1rem;
    line-height: 1.5;
}



p{
    padding: 30px;
}

 .adventure h2,
 .history h2{
    text-align: center;
    margin: 0;
    padding: 60px;
    color: var(--primary-color);
    font-size: 2rem;
    
}

/* History and Adventure sections */
.history, .adventure {
    padding: 20px;
    background-color: var(--label-color);
}

.pictures {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
}

.pictures img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}


figure {
    text-align: center; 
    margin: 4px;
}

figcaption {
    font-size: 0.9rem;
    color: var(--accent2-color); 
    margin-top: 1px;
}



/* Footer */
footer {
    background-color: var(--accent2-color);
    color: var(--label-color);
    padding: 20px;
    text-align: center;
}

footer .sociallinks {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

footer .sociallinks img {
    width: 30px;
    height: 30px;
}


