:root{
--primary-color:#390099;
--secondary-color:#9E0059;
--accent1-color:#FF5400;
--accent2-color:#FFBD00;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto','Jost',sans-serif;
}

header{
    display: block;
    background-color: var(--accent2-color);
    padding: 5px;
}

.mylogo img{
    width: 70px;
    margin-top: 40px;
    text-align: left;
}

nav{
    text-align: right;
    justify-content: space-around;
    margin-bottom: 50px;
}

nav a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: larger;
    font-family: 'Roboto','Jost';
    padding: 2em;
}

header .hero{
    margin: 30px;
}

nav a:hover{
    border: 10px solid var(--secondary-color) ;
    }

.hero {
    background-image: url('../images/hero1.jpg'); 
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    width: 100%; 
    align-items: center; 
    display: flex; 
    justify-content: center; 
    color: var(--primary-color); 
    text-align: center; 
    position: relative; 
    z-index: 1; 
    
}


.hero::before {
    content: ""; 
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
}


h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    color:var(--primary-color);
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.6); 
    width: 100%;

}


.hero article {
    position: absolute;
    bottom: 180px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.6); 
    color: white;
    padding: 10px;
    width: 80%;
    
}

.hero article img {
    float: right;
    width: 100px;
    margin-left: 10px;
}

.hero article p {
    font-size: 1rem;
    line-height: 1.5;
}


p{
    padding: 30px;
}

 .adventure h2,
 .history h2{
    text-align: center;
    margin: 0;
    padding: 60px;
    color: var(--primary-color);
    font-size: 2rem;
    
}

.pictures{ 
    gap: 30px;
}


.adventure img{
    width: 400px;
    padding: 60px;
}

.history, 
.adventure,
 .footers{
    margin: 30px;
}


figure {
    text-align: center; 
    margin: 4px;
}

figcaption {
    font-size: 0.9rem;
    color: #555; 
    margin-top: 1px;
}
.footers{
    text-align: center;
    color: var(--primary-color);
    font-family: 'Roboto','Jost';
    font-size: small;
    background-color: var(--accent2-color);
    width: 100%;
}

  .footers p {
    flex: 1;
    margin: 0;
  }

  .sociallinks {
    display: flex;
  
  }
  .sociallinks a{
    text-decoration: none;
  }
  .sociallinks img {
    width: 30px;
    height: auto;
    border-radius: 25px;
    border: 1px solid black;
  }
