main{
    max-width: 840px;
}
nav{
    background-color: steelblue;
    padding: 10px;
}
nav a{
    color: #f4f4f4;
    padding: 10px;
    display: block;
}
h1{
    color: rgb(6, 34, 34);
}

aside {
    width: 20em; /* Set a width for the aside element */
    margin: 1em; /* Center the aside with top/bottom margins */
    border: 1px solid #333; /* Add a solid border around the aside */
    padding: 1em; /* Add padding inside the aside */
    background-color: #f4f4f4; /* Set a background color */
    text-align: center;
    color: #333; /* Set the text color */
  }
  
  aside img {
    width: 200px; /* Set the image width to 200px */
    height: auto; /* Maintain the aspect ratio by setting height to auto */
  }

  main img {
    width: 200px; 
    height: auto; /* Maintain aspect ratio */
    border: 1px solid rgb(76, 6, 99); 
    box-shadow: 0 0 5px rgb(8, 134, 172);
    
  }

  p {
    padding: 0; /* Removes all padding from paragraphs */
  }

  footer {
    margin-top: 1em; /* Adds space above the footer */
    border-top: 1px solid #000; /* Adds a border at the top of the footer */
    text-align: center; /* Centers the footer content */

}

  
